---
---

/**
 * AfricanCOMMONS style.css
 * ------------------------
 *
 * Author: Code for Africa
 * URI: https://codeforafrica.org
 *
 */

$font-size-normal: 1.8em;
$line-height-normal: 1.9em;
$font-size-medium: 2em;
$line-height-medium: 2.1em;
$font-size-large: 2.2em;
$line-height-large: 2.3em;

body {
  padding-top: 74px;
  font-size: $font-size-normal;
  line-height: $line-height-normal;
  img {
    max-width: 100%;
  }
}

p.lead {
  font-size: 25px;
}


.navbar {
  .navbar-brand {
    font-size: 25px;
    line-height: 29px;
    height: 64px;
    padding-top: 22px;

    img.logo {
      display: inline;
      margin-top: -3px;
      margin-right: 5px;
      height: 40px;
    }
  }
  .navbar-nav>li>a {
    padding: 25px 25px;
  }
  .navbar-toggle {
    margin-top: 15px;
  }
}


footer {
  padding: 40px 0;
  background-color: #f8f8f8;

  .links {
    a {
      margin: 0 5px;
      &:first {
        margin: 0;
      }
    }
  }

  img.logo {
    max-width: 100px;
    margin-top: 20px;
  }
}


.home {
  .navbar-brand {
    img.logo {
      display: inline-block;
      margin-top: -18px;
      height: 60px;
    }
    span {
      display: none;
    }
  }
  section.intro {
    background: url('/img/earth.jpg') center;
    background-size: cover;

    .bg-darken {
      background-color: rgba(0,0,0,0.2);
    }

    .container {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    h1, h2, h3 {
      color: #fff !important;
    }
    h1 {
      font-size: 80px;
      font-weight: 700;
    }
    h3 {
      font-size: 30px;
      font-weight: 100;
      line-height: 40px;
      margin-top: 10px;
    }
  }

  section.content {
    padding: 50px 0;
  }

  section.content.blurbs {
    .container {
      max-width: 720px;
      img.img-thumbnail {
        padding: 20px;
        max-width: 110px;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 5px;
        line-height: 1.6em;
      }
    }
  }
}

.page {
  section.content {
    .container {
      max-width: 720px;
    }
    margin-bottom: 60px;
  }
}