<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="{{ site.base_url }}/img/logo-only-white.png" height="13" style="vertical-align: top; margin-top: 7px;" />
      <span class="d-none">AfricanCOMMONS</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-1">
          <a class="nav-link" href="{{ site.base_url }}/">Home</a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link" href="{{ site.base_url }}/about">About</a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link" href="{{ site.blog_url }}" target="_blank">Blog</a>
        </li>

        <li class="nav-item ml-3">
          <a class="btn btn-outline-light btn-sm my-1 font-nunito" href="{{ site.base_url }}/add-project">
            + Add Project</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
