<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.url }}/img/preview.png" />

<meta property="fb:app_id" content="{{ site.fb_app_id }}"/>

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@Code4Africa"/>
<meta name="twitter:creator" content="@Code4Africa"/>
