/**
 * commons.AFRICA style.css
 * ------------------------
 *
 * Author: Code for Africa
 * URI: https://codeforafrica.org
 *
 */

$fa-font-path: "/fonts";
@import '~font-awesome/scss/font-awesome';

@import "~bootstrap/scss/bootstrap";

html, body {
  font-family: 'Lora', serif;
}

p {
  font-family: 'Lora', serif;
}
h1, h2, h3, h4, h6, .navbar-brand {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.font-lora {
  font-family: 'Lora', serif;
}
.font-nunito,.font-headings {
  font-family: 'Nunito', sans-serif;
}



#mc_embed_signup label {
  font-weight: 600 !important;
}




.partner-logos {
  img {
    max-height: 70px;
    max-width: 250px;
    transition-duration: 0.2s;
  }
  a:hover img {
    opacity: 0.7;
  }
}

.home {
  .jumbotron {
    .list-group {
      a {
        background-color: rgba(255,255,255,0.1);
        color: #fff;
        border-color: rgba(255,255,255,0.3);
        &:hover {
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
  }
}


