    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:28
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-adwords:before { content: "\f100"; }
.flaticon-agreement:before { content: "\f101"; }
.flaticon-alarm:before { content: "\f102"; }
.flaticon-bar-chart:before { content: "\f103"; }
.flaticon-blocked:before { content: "\f104"; }
.flaticon-book:before { content: "\f105"; }
.flaticon-book-with-bookmark:before { content: "\f106"; }
.flaticon-brightness:before { content: "\f107"; }
.flaticon-broken-link:before { content: "\f108"; }
.flaticon-car:before { content: "\f109"; }
.flaticon-cardiogram:before { content: "\f10a"; }
.flaticon-charging-battery:before { content: "\f10b"; }
.flaticon-charity:before { content: "\f10c"; }
.flaticon-cocktail:before { content: "\f10d"; }
.flaticon-coding:before { content: "\f10e"; }
.flaticon-crop:before { content: "\f10f"; }
.flaticon-customizable:before { content: "\f110"; }
.flaticon-cutlery:before { content: "\f111"; }
.flaticon-disabled-sign:before { content: "\f112"; }
.flaticon-download:before { content: "\f113"; }
.flaticon-ebook:before { content: "\f114"; }
.flaticon-edit:before { content: "\f115"; }
.flaticon-energy:before { content: "\f116"; }
.flaticon-fast-forward-circular-button:before { content: "\f117"; }
.flaticon-female:before { content: "\f118"; }
.flaticon-filter:before { content: "\f119"; }
.flaticon-fingerprint:before { content: "\f11a"; }
.flaticon-fix:before { content: "\f11b"; }
.flaticon-folder:before { content: "\f11c"; }
.flaticon-full-battery:before { content: "\f11d"; }
.flaticon-hammer:before { content: "\f11e"; }
.flaticon-hand:before { content: "\f11f"; }
.flaticon-heart:before { content: "\f120"; }
.flaticon-help:before { content: "\f121"; }
.flaticon-hospital-sign:before { content: "\f122"; }
.flaticon-idea:before { content: "\f123"; }
.flaticon-image:before { content: "\f124"; }
.flaticon-key:before { content: "\f125"; }
.flaticon-labyrinth:before { content: "\f126"; }
.flaticon-loading:before { content: "\f127"; }
.flaticon-locked:before { content: "\f128"; }
.flaticon-low-battery:before { content: "\f129"; }
.flaticon-magic-wand:before { content: "\f12a"; }
.flaticon-mailing:before { content: "\f12b"; }
.flaticon-male:before { content: "\f12c"; }
.flaticon-man:before { content: "\f12d"; }
.flaticon-map:before { content: "\f12e"; }
.flaticon-medal:before { content: "\f12f"; }
.flaticon-microphone:before { content: "\f130"; }
.flaticon-miscellaneus:before { content: "\f131"; }
.flaticon-move:before { content: "\f132"; }
.flaticon-musical-note:before { content: "\f133"; }
.flaticon-newspaper:before { content: "\f134"; }
.flaticon-notification:before { content: "\f135"; }
.flaticon-paint-brush-and-palette:before { content: "\f136"; }
.flaticon-pause-circular-button:before { content: "\f137"; }
.flaticon-pen-tip:before { content: "\f138"; }
.flaticon-pets:before { content: "\f139"; }
.flaticon-play-circular-button:before { content: "\f13a"; }
.flaticon-power:before { content: "\f13b"; }
.flaticon-protection:before { content: "\f13c"; }
.flaticon-quality:before { content: "\f13d"; }
.flaticon-record-circular-button:before { content: "\f13e"; }
.flaticon-recycling-sign:before { content: "\f13f"; }
.flaticon-research-work:before { content: "\f140"; }
.flaticon-researcher:before { content: "\f141"; }
.flaticon-reuse:before { content: "\f142"; }
.flaticon-rewind-circular-button:before { content: "\f143"; }
.flaticon-savings:before { content: "\f144"; }
.flaticon-scale:before { content: "\f145"; }
.flaticon-schedule:before { content: "\f146"; }
.flaticon-search:before { content: "\f147"; }
.flaticon-settings:before { content: "\f148"; }
.flaticon-share:before { content: "\f149"; }
.flaticon-shirt:before { content: "\f14a"; }
.flaticon-shoe:before { content: "\f14b"; }
.flaticon-shopping-cart:before { content: "\f14c"; }
.flaticon-sleep-mode:before { content: "\f14d"; }
.flaticon-star:before { content: "\f14e"; }
.flaticon-statistics:before { content: "\f14f"; }
.flaticon-stethoscope:before { content: "\f150"; }
.flaticon-stop-circular-button:before { content: "\f151"; }
.flaticon-sunglasses:before { content: "\f152"; }
.flaticon-telephone:before { content: "\f153"; }
.flaticon-temperature:before { content: "\f154"; }
.flaticon-thumb-up:before { content: "\f155"; }
.flaticon-timer:before { content: "\f156"; }
.flaticon-touch:before { content: "\f157"; }
.flaticon-transfer-files:before { content: "\f158"; }
.flaticon-trash:before { content: "\f159"; }
.flaticon-tree:before { content: "\f15a"; }
.flaticon-tree-leaf:before { content: "\f15b"; }
.flaticon-trophy:before { content: "\f15c"; }
.flaticon-unlinked:before { content: "\f15d"; }
.flaticon-unlock:before { content: "\f15e"; }
.flaticon-upload:before { content: "\f15f"; }
.flaticon-video-player:before { content: "\f160"; }
.flaticon-vip:before { content: "\f161"; }
.flaticon-web-news:before { content: "\f162"; }
.flaticon-woman-with-skirt:before { content: "\f163"; }
    
    $font-Flaticon-adwords: "\f100";
    $font-Flaticon-agreement: "\f101";
    $font-Flaticon-alarm: "\f102";
    $font-Flaticon-bar-chart: "\f103";
    $font-Flaticon-blocked: "\f104";
    $font-Flaticon-book: "\f105";
    $font-Flaticon-book-with-bookmark: "\f106";
    $font-Flaticon-brightness: "\f107";
    $font-Flaticon-broken-link: "\f108";
    $font-Flaticon-car: "\f109";
    $font-Flaticon-cardiogram: "\f10a";
    $font-Flaticon-charging-battery: "\f10b";
    $font-Flaticon-charity: "\f10c";
    $font-Flaticon-cocktail: "\f10d";
    $font-Flaticon-coding: "\f10e";
    $font-Flaticon-crop: "\f10f";
    $font-Flaticon-customizable: "\f110";
    $font-Flaticon-cutlery: "\f111";
    $font-Flaticon-disabled-sign: "\f112";
    $font-Flaticon-download: "\f113";
    $font-Flaticon-ebook: "\f114";
    $font-Flaticon-edit: "\f115";
    $font-Flaticon-energy: "\f116";
    $font-Flaticon-fast-forward-circular-button: "\f117";
    $font-Flaticon-female: "\f118";
    $font-Flaticon-filter: "\f119";
    $font-Flaticon-fingerprint: "\f11a";
    $font-Flaticon-fix: "\f11b";
    $font-Flaticon-folder: "\f11c";
    $font-Flaticon-full-battery: "\f11d";
    $font-Flaticon-hammer: "\f11e";
    $font-Flaticon-hand: "\f11f";
    $font-Flaticon-heart: "\f120";
    $font-Flaticon-help: "\f121";
    $font-Flaticon-hospital-sign: "\f122";
    $font-Flaticon-idea: "\f123";
    $font-Flaticon-image: "\f124";
    $font-Flaticon-key: "\f125";
    $font-Flaticon-labyrinth: "\f126";
    $font-Flaticon-loading: "\f127";
    $font-Flaticon-locked: "\f128";
    $font-Flaticon-low-battery: "\f129";
    $font-Flaticon-magic-wand: "\f12a";
    $font-Flaticon-mailing: "\f12b";
    $font-Flaticon-male: "\f12c";
    $font-Flaticon-man: "\f12d";
    $font-Flaticon-map: "\f12e";
    $font-Flaticon-medal: "\f12f";
    $font-Flaticon-microphone: "\f130";
    $font-Flaticon-miscellaneus: "\f131";
    $font-Flaticon-move: "\f132";
    $font-Flaticon-musical-note: "\f133";
    $font-Flaticon-newspaper: "\f134";
    $font-Flaticon-notification: "\f135";
    $font-Flaticon-paint-brush-and-palette: "\f136";
    $font-Flaticon-pause-circular-button: "\f137";
    $font-Flaticon-pen-tip: "\f138";
    $font-Flaticon-pets: "\f139";
    $font-Flaticon-play-circular-button: "\f13a";
    $font-Flaticon-power: "\f13b";
    $font-Flaticon-protection: "\f13c";
    $font-Flaticon-quality: "\f13d";
    $font-Flaticon-record-circular-button: "\f13e";
    $font-Flaticon-recycling-sign: "\f13f";
    $font-Flaticon-research-work: "\f140";
    $font-Flaticon-researcher: "\f141";
    $font-Flaticon-reuse: "\f142";
    $font-Flaticon-rewind-circular-button: "\f143";
    $font-Flaticon-savings: "\f144";
    $font-Flaticon-scale: "\f145";
    $font-Flaticon-schedule: "\f146";
    $font-Flaticon-search: "\f147";
    $font-Flaticon-settings: "\f148";
    $font-Flaticon-share: "\f149";
    $font-Flaticon-shirt: "\f14a";
    $font-Flaticon-shoe: "\f14b";
    $font-Flaticon-shopping-cart: "\f14c";
    $font-Flaticon-sleep-mode: "\f14d";
    $font-Flaticon-star: "\f14e";
    $font-Flaticon-statistics: "\f14f";
    $font-Flaticon-stethoscope: "\f150";
    $font-Flaticon-stop-circular-button: "\f151";
    $font-Flaticon-sunglasses: "\f152";
    $font-Flaticon-telephone: "\f153";
    $font-Flaticon-temperature: "\f154";
    $font-Flaticon-thumb-up: "\f155";
    $font-Flaticon-timer: "\f156";
    $font-Flaticon-touch: "\f157";
    $font-Flaticon-transfer-files: "\f158";
    $font-Flaticon-trash: "\f159";
    $font-Flaticon-tree: "\f15a";
    $font-Flaticon-tree-leaf: "\f15b";
    $font-Flaticon-trophy: "\f15c";
    $font-Flaticon-unlinked: "\f15d";
    $font-Flaticon-unlock: "\f15e";
    $font-Flaticon-upload: "\f15f";
    $font-Flaticon-video-player: "\f160";
    $font-Flaticon-vip: "\f161";
    $font-Flaticon-web-news: "\f162";
    $font-Flaticon-woman-with-skirt: "\f163";